<h4>Gallons</h4>
<input type="number" [(ngModel)]="gallons" (change)="valuechange($event)">
<hr>
<h4>Nitrogen</h4>
<input type="number" [(ngModel)]="ppm.nitrogen" (change)="valuechange($event)">
<h4>Phosphorus</h4>
<input type="number" [(ngModel)]="ppm.phosphorus" (change)="valuechange($event)">
<h4>Potassium</h4>
<input type="number" [(ngModel)]="ppm.potassium" (change)="valuechange($event)">
<h4>Calcium</h4>
<input type="number" [(ngModel)]="ppm.calcium" (change)="valuechange($event)">

<h4>Magnesium</h4>
<input type="number" [(ngModel)]="ppm.magnesium" (change)="valuechange($event)">

<h4>Iron</h4>
<input type="number" [(ngModel)]="ppm.iron" (change)="valuechange($event)">

<hr>
<div>
  <p>
  total: {{ppm.nitrogen + ppm.phosphorus + ppm.potassium + ppm.calcium + ppm.magnesium + ppm.iron}}<br>
  Calcium Nitrate: {{(ppm.nitrogen/41)*gallons}}<br>
  MPK:  {{(ppm.potassium/75)*gallons}}<br>
  Epsom Salt: {{(ppm.magnesium/25)*gallons}}<br>
  Trace Elements: {{(ppm.iron/19.8)*gallons}}<br>

  </p>
</div>
<!--
<h4>Phosphorus</h4>
<input placeholder="0" #phosphorus [ngModel]="ppmTarget.phosphorus" type="number">
<h4>Potassium</h4>
<input placeholder="0" #potassium [ngModel]="ppmTarget.potassium" type="number">
<h4>Calcium</h4>
<input placeholder="0" #calcium [ngModel]="ppmTarget.calcium" type="number">
<h4>Magnesium</h4>
<input placeholder="0" #magnesium [ngModel]="ppmTarget.magnesium" type="number">
<h4>Iron</h4>
<input placeholder="0" #iron [ngModel]="ppmTarget.iron" type="number">
-->
